<nav class="navbar navbar-expand-lg navbar-dark bg-header">
  <div class="container">
    <a class="navbar-brand">
      <img class="img-fluid w-30" src="../../../assets/images/blanco.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" fragment="about">¿Quiénes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Regístrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" fragment="contact">Contacto</a>
        </li>
        <!-- <li>
          <mat-icon>menu</mat-icon>
        </li> -->
      </ul>
    </div>
  </div>
</nav>