<div class="formContainer">
  <h1>Inscripción Persona Natural</h1>
  <form>
     <div class="form-group">
        <label><strong>Grupo:</strong></label>
        <select class="form-control">
          <option value="placeholder">placeholder</option>
        </select>
   </div>
    <div class="form-group">
      <label><strong>Nombres:</strong></label>
      <input type="text" class="form-control form-text" placeholder="Nombres" />
    </div>
    <div class="form-group">
        <label><strong>Apellidos:</strong></label>
        <input type="text" class="form-control form-text" placeholder="Apellidos" />
    </div>
    <div class="form-group">
        <label><strong>Fecha de Nacimiento:</strong></label>
        <input type="date" class="form-control form-text"  />
    </div>
    <div class="form-group">
        <label><strong>Dirección:</strong></label>
        <input type="text" class="form-control form-text" placeholder="Calle, Jirón, Pasaje, etc." />
    </div>
    <div class="form-group">
        <label><strong>Provincia:</strong></label>
        <input type="text" class="form-control form-text" placeholder="Provincia" />
    </div>
    <div class="form-group">
        <label><strong>Distrito:</strong></label>
        <input type="text" class="form-control form-text" placeholder="Distrito" />
    </div>
    <div class="form-group">
        <label><strong>País:</strong></label>
        <input type="text" class="form-control form-text" placeholder="País" />
    </div>
    <div class="form-group">
        <label><strong>Antecentes Penales:</strong></label>
        <textarea  class="form-control form-text" placeholder="Antecedentes...." rows="4" >

        </textarea>

    </div>
    <div class="form-group">
        <label><strong>Descripción:</strong></label>
        <textarea type="text" class="form-control form-text" placeholder="Descripción..." rows="4" >

        </textarea>
    </div>
  </form>
</div>