<div class="purpose-module mt-5">
  <div class="row">
      <div class="img-purpose col-md-6">
      </div>
      <div class="col-md-6 aa">
        <div class="text-purpose"> 
          <div class="icon-purpose"></div>
          <br><br>
          <h1 style="color:#0075A1"><strong>Nuestro proposito</strong></h1>
          <br>
          <p style="font-size: 25px">
              Conectar a través de nuestra plataforma a los diversos sectores industriales y comerciales con grupos de personas (sectores comunales) para realizar trabajos como parte de sus procesos productivos de menor escala
          </p>
        </div>
      </div>
  </div>
</div>