<form>
      <div class="form-group">
        <label  >Nombre o Razón Social:</label>
        <input type="text" class="form-control form-text" placeholder="Nombre o Razón Social" />
      </div>
      <div class="form-group">
        <label >Email:</label>
        <input type="email" class="form-control form-text" placeholder="you@domain.com" />
      </div>
      <div class="form-group">
        <label  >Dirección:</label>
        <input type="text" class="form-control form-text" placeholder="Nombre o Razón Social" />
      </div>
      <div class="form-group">
          <label for="nameField" >Nombre o Razón Social:</label>
          <input type="text" class="form-control form-text" placeholder="Nombre o Razón Social" />
      </div>    
</form>